<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/subcss.css">
</head>
<body background= "/static/3.jpg.jpg">
    <p><h1 class="section__header">FitPass</h1></p>
    <section class="membership" id="membership">
        <div class="section__container membership__container">
            <!-- <p class="section__subheader">PRICING TABLE</p> -->
            
            <div class="membership__grid">
                <div class="membership__card">
                    <h4>YEAR CARD</h4>
                    <h2><sup>$</sup>499</h2>
                    <h3>For 1 Year</h3>
                    <h4>ENJOY ALL THE FEATURES</h4>
                    <p>Onetime access to all club</p>
                    <p>Group trainer</p>
                    <p>Book a group class</p>
                    <p>Fitness orientation</p>
                    <button class="btn membership__btn">GET STARTED</button>
                </div>
                <div class="membership__card">
                    <h4>MONTHLY CARD</h4>
                    <h2><sup>$</sup>200</h2>
                    <h3>For 1 Month</h3>
                    <h4>ENJOY ALL THE FEATURES</h4>
                    <p>Group classes</p>
                    <p>Discuss fitness goals</p>
                    <p>Group trainer</p>
                    <p>Fitness orientation</p>
                    <button class="btn membership__btn">GET STARTED</button>
                </div>
                <div class="membership__card">
                    <h4>WEEKLY CARD</h4>
                    <h2><sup>$</sup>85</h2>
                    <h3>For 1 Week</h3>
                    <h4>ENJOY ALL THE FEATURES</h4>
                    <p>Access to yoga area</p>
                    <p>Group trainer</p>
                    <p>Group classes</p>
                    <p>Fitness orientation</p>
                    <button class="btn membership__btn">GET STARTED</button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
